@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
margin: 0; padding: 0;
font-size: 13px; }

body{
    background-color: #fafafa;
}

a{text-decoration: none;
color: black;
}

ul {
    list-style: none;
}